<ion-header>
  <ion-toolbar>
    <ion-title>
      Password Manager
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of passwords">
      <ion-item lines="inset" button [routerLink]="['/details', item.id]">{{ item.Service }}</ion-item>
      <ion-item-options side="start">
        <ion-item class="password" lines="none">{{ item.Password }}</ion-item>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="remove(item)">
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/details" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>